@keyframes test {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@font-face {
  font-family: "Exorcista";
  src: url("Exorcista_-Jed_40.ttf");
}

body {
  margin: 0;
  padding: 0;
  background: #000000;
  background-image: url(/public/IMG_0858.webp);
  font-family: "Exorcista", sans-serif;
  transition: all 500ms;
  animation: test 1.5s;
}

.eyes {
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.eye1 {
  width: 240px;
  height: 120px;
  background: #191919;
  display: inline-block;
  margin: 40px;
  position: relative;
  overflow: hidden;
  border-radius: 50% / 0 100%;
  box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 4px 1px 34px 16px rgba(0, 0, 0, 0.51);
}

.eye2 {
  width: 240px;
  height: 120px;
  background: #191919;
  display: inline-block;
  margin: 40px;
  position: relative;
  overflow: hidden;
  border-radius: 50% / 100% 0;

  box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 4px 1px 34px 16px rgba(0, 0, 0, 0.51);
}

.ball {
  width: 90px;
  height: 90px;
  background: #0d130c;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.eyeball {
  width: 25px;
  height: 80px;
  background: #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 70%;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#roxy-btn {
  margin-top: 22%;
  display: block;
  margin-bottom: 10px;
  padding: 5px 10px;
  text-decoration: none;
  font-family: "Exorcista", sans-serif;
  font-size: 70px;
  transition: all 0.5s ease-in-out;
  background-color: transparent;
  border: none;
  color: white;
}

#roxy-btn:hover {
background-color: #333 ;
   font-size: 80px;
  transition: all 0.5s ease-in-out;
}

#links-container.hidden {
  display: none;
}
#links-container {
  margin-top: 18%;
}

#links-container a {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  padding: 5px 10px;
  text-decoration: none;
  color: #fff;
  font-family: "Exorcista", sans-serif;
  transition: background-color 0.3s ease;
  font-size: 50px;
  transition: all 0.5s ease-in-out;
}

#links-container a:hover {
  background-color: #333;
  font-size: 60px;
  transition: all 0.5s ease-in-out;
}

.easterEgg {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 0;
  cursor: pointer;
}

.pinkie {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: fadeOut 2s;
}

.sound {
  position: absolute;
  right: 2.5%;
  top: 2.5%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

label {
  color: white;
}
